	/*layout*/
body { 
	margin: 0; 
	padding: 0;
	min-width: 760px; 
}

#masthead {
	margin: 0;
	height: 65px;
	heigh\t: 57px;
}

#slogan {
	z-index: 100;
	position: absolute;
	right: 22px;
	top: 10px;
	margin: 0;
	width: 300px;
	height: 40px;
}

#content { 
	float: left; 
	width: 73%;
	margin: 45px 0 0 103px;
} html>body #content { 
	margin: 45px -203px 0 203px;
	/* margin: 45px 0px 0 203px; */
}

#home #content {
	width: 67%;
	margin: 45px 0 0;
	/* width: expression(document.body.clientWidth > 800? "35em": "auto" ); */
}

#article #content,
#article #footer {
	/* width: 35em; */
	width: 60%;
	/* width: expression(document.body.clientWidth > 800? "35em": "60%" ); */
	width: expression(document.body.clientWidth > 750? "60%": "60%" );
}

#home #currentFeature,
#home #pastFeature,
#home p.archive {
	margin-left: 203px;
	margin-right: 20px;
}

#content .pullquote cite {
	display: block;
}

#sidebar { 
	float: left; 
	width: 31%;
	margin-top: 45px;
}

#sidebar h2 { 
	margin: 0;
	height: 30px;
}

#sidebar h2 a { 
	display: block;
	width: 50%;
}

#globalNav {
	position: absolute; 
	top: 65px;
	left: 0;
	height: 41px;
	heigh\t: 12px;
	width: 100%;
	min-width: 760px; 
	margin: 0;
	padding: 10px 0;
	list-style: none;
}

#globalNav li {
	list-style: none;
	float: left;
	width: auto;
}

#articlesLink {
	margin-left: 90px;
} 

html>body #articlesLink {
	margin-left: 180px;
} 

#sortNav { 
	position: absolute; 
	top: 106px;
	margin: 0;
	padding: 0;
	width: 180px;
}

#sortNav li { 
	width: 185px;
	height: 26px;
	margin-left: 0;
}

#sortNav li.search { 
	height: auto;
}

#sortNav li a {
	width: 150px;
	padding-left: 30px;
	display: block;
	height: 25px;
}

#sortNav li.active {
	margin-right: -5px;
}

#sortNav li.search form {
	width: 163px;
	margin: 0;
	padding: 8px 0 8px 15px;
}

#sideAds { 
	position: absolute;
	left: 0;
	top: 370px;
	width: 180px; 
}

#footer { 
	clear: both;
	text-align: center;
	padding-top: 4em;
	width: 73%;
	margin-left: 203px;
} html>body #footer { 
	margin: 0 -203px 0 203px;
}