	/*type*/
body {
	font-size: 100%;
}

body,
#article span.pullquote,
#content blockquote cite {
	font-family: Arial, sans-serif; 
}	

#content blockquote.pullquote,
#article blockquote.pullquote span.pullquote {
	font-family: Georgia, serif; 
}	

#sortNav,
#globalNav,
#footer,
.ad {
	font-size: 0.7em;
}
	
#content,
#sidebar,
#slogan,
#content blockquote.pullquote cite {
	font-size: 0.8em;
	line-height: 1.5;
}

#bio,
#author #content li {
	font-size: 0.95em;
}

#article span.pullquote {
	line-height: 1.5;
}

#footer .ad,
#sidebar h3,
#sidebar h2,
#article span.pullquote {
	font-size: 1em;
}

#author #content li a {
	font-size: 1.05em;
}

#contactus legend,
#article h3,
#content blockquote.pullquote {
	font-size: 1.2em;
	line-height: 1.3;
}

#type h2,
#topic h2,
#title h2,
#pastFeature h3 {
	font-size: 1.25em;
}

#article h2,
#currentFeature h3 {
	font-size: 1.3em;
}

html>body #content code {
	font-size: 1.3em;
}


h1,
#pastFeature h2 {
	font-size: 1.4em;
}

#currentFeature h2 {
	font-size: 1.6em;
}

#sortNav a,
#globalNav a,
#sidebar h2 a {
	text-decoration: none;
}

#content .archive,
#sidebar .archive,
#globalNav,
#sortNav {
	text-transform: lowercase;
}

div#bio {
	margin-top: 4em;
}

div#bio dt,
#contactus legend, 
.text.ad a,
#content .location {
	font-weight: bold;
}

#footer .banner.ad a {
	font-weight: normal;
}

#content blockquote p cite {
	font-style: normal;
}

code {
	font-size: 1em;
}
